@using System;
@using Sandbox;
@using Sandbox.UI;

@namespace OhioRP
@inherits PanelComponent;

@attribute [StyleSheet]
<root>
    <div class="counter-text">Total Spins: @TotalSpins</div>
    @if ( PlayerIsFurry )
    {
        <div class="furry-text">You are now a furry.</div>
    }
</root>
