OhioHud {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    CitizenPanelScene {
        width: 100%;
        height: 100%;
    }

    .counter-text {
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        font-family: Impact;
        font-size: 72px;
        text-stroke: 8px black;
        color: white;
    }

    .furry-text {
        position: absolute;
        bottom: 5%;
        font-family: Impact;
        font-size: 108px;
        text-stroke: 16px black;
        color: white;
    }
}
